/* main */
body {
  font-family: "Cormorant Garamond";
  background-color: #fff4f4;
}
/* containers */
.container-small {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* hero */
.hero {
  color: #8396b4;
  padding-top: 60px;
  padding-bottom: 60px;
}
.hero__date {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 15px;
}
.hero__label {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 18px;
}
.hero__img {
  width: 78%;
  display: block;
  margin: 0 auto;
}
.hero__text {
  text-align: right;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1.7;
  font-family: "Great Vibes";
  margin: 0;
  margin-top: 10px;
  margin-right: 40px;
}
/* love */
.love-section {
  background-color: #dceaf6;
  padding-top: 75px;
}
.container-big {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.icones {
}
.icones__first {
  position: absolute;
  top: -120%;
  left: 5%;
}
.icones__first img {
  width: 30px;
}
.icones__second {
  position: absolute;
  top: -140%;
  left: 35%;
}
.icones__second img {
  width: 50px;
}
.icones__third {
  position: absolute;
  top: -55%;
  left: 65%;
}

.icones__third img {
  width: 20px;
}
.icones__fourgh {
  position: absolute;
  top: 87%;
  left: 61%;
}

.icones__fourgh img {
  width: 60px;
}
.icones__five {
  position: absolute;
  top: -150%;
  left: 80%;
}
.icones__five img {
  width: 60px;
}
.icones__six {
  position: absolute;
  top: 30%;
  left: 29%;
}

.icones__six img {
  width: 32px;
}
.icones__seven {
  position: absolute;
  top: 550%;
  left: 4%;
}
.icones__seven img {
  width: 20px;
}
.icones__eight {
  position: absolute;
  top: 580%;
  left: 30%;
}

.icones__eight img {
  width: 40px;
}
.icones__nine {
  position: absolute;
  top: 550%;
  left: 60%;
}

.icones__nine img {
  width: 30px;
}
.icones__ten {
  position: absolute;
  top: 580%;
  left: 75%;
}

.icones__ten img {
  width: 70px;
}
.lovers {
  position: relative;
}
.lovers__vlad {
  width: 150px;
  height: 220px;
  background-color: #fff;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  rotate: -11deg;
  box-shadow:
    0 12px 26px 0 rgba(0, 0, 0, 0.1),
    0 46px 46px 0 rgba(0, 0, 0, 0.09),
    0 104px 63px 0 rgba(0, 0, 0, 0.05),
    0 185px 74px 0 rgba(0, 0, 0, 0.01),
    0 290px 81px 0 rgba(0, 0, 0, 0);
  position: absolute;
  top: 90%;
  left: 4%;
}
.lovers__vlad img {
  width: 150px;
}
.lovers__title-vlad {
  rotate: -10deg;
  font-family: "Caveat";
  color: #8396b4;
  font-size: 30px;
  line-height: 0;
}
.lovers__label-vlad {
  text-align: center;
  font-family: "Caveat";
  color: #8396b4;
  font-size: 30px;
  line-height: 0;
  margin: 0;
  margin-top: 20px;
}
.lovers__rita {
  width: 150px;
  height: 220px;
  background-color: #fff;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  rotate: 10deg;
  box-shadow:
    0 12px 26px 0 rgba(0, 0, 0, 0.1),
    0 46px 46px 0 rgba(0, 0, 0, 0.09),
    0 104px 63px 0 rgba(0, 0, 0, 0.05),
    0 185px 74px 0 rgba(0, 0, 0, 0.01),
    0 290px 81px 0 rgba(0, 0, 0, 0);
  position: absolute;
  top: 150%;
  right: 5%;
}

.lovers__rita img {
  width: 150px;
}
.lovers__title-rita {
  rotate: 10deg;
  font-family: "Caveat";
  color: #8396b4;
  font-size: 30px;
  text-align: right;
  line-height: 1;
}
.lovers__label-rita {
  text-align: center;
  font-family: "Caveat";
  color: #8396b4;
  font-size: 30px;
  line-height: 0;
  margin: 0;
  margin-top: 20px;
}

.wave {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 300px;
}
/* relatives */
.relatives {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.relatives__title {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
  color: #8396b4;
}
.relatives__text {
  margin: 0;
  font-size: 20px;
  letter-spacing: 1;
  font-family: "Cormorant Garamond";
  text-align: center;
  color: #8396b4;
}
.big-wave {
  top: 50%;
  width: 100%;
  height: auto;
  position: absolute;
}
/* calendar*/
.calendar {
  padding-top: 180px;
  padding-bottom: 80px;
  position: relative;
}
.calendar-container-small {
  position: relative;
  width: 280px;
}
.calendar__img {
  width: 100%;
}
.calendar__heart {
  position: absolute;
  width: 30px;
  top: 85%;
  left: 66%;
}
.calendar__big-flower {
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 100px;
}
.calendar__small-flower {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 70px;
}
/*place*/
.place {
  padding-top: 20px;
  position: relative;
}

.place__leafs {
  position: absolute;
  right: 0;
  width: 60px;
}

.place__title {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
  color: #8396b4;
  margin-bottom: 20px;
}
.place__card {
  width: 280px;
  height: 140px;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  box-shadow:
    0 12px 26px 0 rgba(0, 0, 0, 0.1),
    0 46px 46px 0 rgba(0, 0, 0, 0.09),
    0 104px 63px 0 rgba(0, 0, 0, 0.05),
    0 185px 74px 0 rgba(0, 0, 0, 0.01),
    0 290px 81px 0 rgba(0, 0, 0, 0);
}

.place__card img {
  width: 100%;
}
.place__name {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 26px;
  margin: 0;
  margin-bottom: 10px;
  color: #8396b4;
}
.place__point {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.place__point img {
  width: 10px;
}
.place__adress {
  font-size: 20px;
  letter-spacing: 1;
  font-family: "Cormorant Garamond";
  text-align: center;
  color: #8396b4;
  margin: 0;
}
.place__wave {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: -1px;
}
/*plan*/
.plan {
  padding-top: 20px;
  background-color: #dceaf6;
  position: relative;
}
.plan__leafs {
  position: absolute;
  width: 110px;
  left: 0;
  top: 0;
}
.container-small {
}
.plan__title {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
  color: #8396b4;
  margin-bottom: 60px;
}
.plan__road {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.plan__guests {
  font-size: 20px;
  letter-spacing: 1;
  font-family: "Cormorant Garamond";
  text-align: left;
  color: #8396b4;
  margin: 0;
  position: absolute;
  top: 3%;
  left: 10%;
}
.plan__banket {
  font-size: 20px;
  letter-spacing: 1;
  font-family: "Cormorant Garamond";
  text-align: left;
  color: #8396b4;
  margin: 0;
  position: absolute;
  top: 63%;
  left: -6%;
}
.plan__line {
  width: 3px;
  display: block;
  margin: 0 auto;
}
.plan__heart {
  width: 20px;
}
.heart-one {
  position: absolute;
  top: 17%;
  left: 47%;
}
.heart-two {
  position: absolute;
  top: 47%;
  left: 47%;
}
.heart-three {
  position: absolute;
  top: 77%;
  left: 47%;
}
.plan__ceremony {
  font-size: 20px;
  letter-spacing: 1;
  font-family: "Cormorant Garamond";
  text-align: right;
  color: #8396b4;
  position: absolute;
  top: 25%;
  right: 12%;
}
.plan__blue-flower {
  position: absolute;
  top: 45%;
  right: 0;
  width: 100px;
}
.plan__white-flower {
  position: absolute;
  width: 180px;
  top: 55%;
  right: 0;
}
.plan__wave-bottom {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 110px;
}
/*dress*/
.dress {
  position: relative;
}
.container-big {
}
.dress__title {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
  color: #8396b4;
  margin-bottom: 0;
}
.dress__text {
  font-size: 20px;
  letter-spacing: 1;
  font-family: "Cormorant Garamond";
  text-align: center;
  color: #8396b4;
  width: 320px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.dress__colors {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.dress__colors img {
  width: 50px;
}

.dress__wave {
  top: 65%;
  width: 100%;
  height: auto;
  position: absolute;
}
/*wishes*/
.wishes {
  padding-top: 200px;
  padding-bottom: 300px;
  position: relative;
}
.container-big-wishes {
  position: relative;
  width: 300px;
}
.wishes__title {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
  color: #8396b4;
  margin-bottom: 20px;
}
.wishes__text {
  font-size: 20px;
  letter-spacing: 1;
  font-family: "Cormorant Garamond";
  text-align: right;
  color: #8396b4;
  width: 320px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.wishes__card-hands {
  width: 120px;
  height: 180px;
  background-color: #fff;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  rotate: -10deg;
  box-shadow:
    0 12px 26px 0 rgba(0, 0, 0, 0.1),
    0 46px 46px 0 rgba(0, 0, 0, 0.09),
    0 104px 63px 0 rgba(0, 0, 0, 0.05),
    0 185px 74px 0 rgba(0, 0, 0, 0.01),
    0 290px 81px 0 rgba(0, 0, 0, 0);
  position: absolute;
  left: -5%;
  top: 100%;
}
.wishes__card-hands img {
  width: 120px;
}
.wishes__card-pair {
  width: 120px;
  height: 180px;
  background-color: #fff;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  rotate: 10deg;
  box-shadow:
    0 12px 26px 0 rgba(0, 0, 0, 0.1),
    0 46px 46px 0 rgba(0, 0, 0, 0.09),
    0 104px 63px 0 rgba(0, 0, 0, 0.05),
    0 185px 74px 0 rgba(0, 0, 0, 0.01),
    0 290px 81px 0 rgba(0, 0, 0, 0);
  position: absolute;
  left: 35%;
  top: 120%;
}

.wishes__card-pair img {
  width: 120px;
}
.wishes__white-flower {
  width: 80px;
  position: absolute;
  right: 0;
  bottom: 20%;
}
.wishes__blue-flower {
  width: 135px;
  position: absolute;
  right: -2%;
  bottom: 10%;
}
.wishes__leafs {
  width: 80px;
  position: absolute;
  left: -3%;
  top: 30%;
}

.wishes__wave-bottom {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 50px;
  bottom: -2%;
}
/*meet*/
.meet {
   background-color: #dceaf6;
   padding-top: 30px;
   padding-bottom: 100px;
   position: relative;
}
.container-small {
}
.meet__title {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
  color: #8396b4;
  margin-bottom: 20px;
}
.meet__card {
  width: 280px;
  height: 400px;
  background-color: #fff;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-shadow:
    0 12px 26px 0 rgba(0, 0, 0, 0.1),
    0 46px 46px 0 rgba(0, 0, 0, 0.09),
    0 104px 63px 0 rgba(0, 0, 0, 0.05),
    0 185px 74px 0 rgba(0, 0, 0, 0.01),
    0 290px 81px 0 rgba(0, 0, 0, 0);
}

.meet__card img {
  width: 280px;
}
.meet__text {
  text-align: right;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  color: #9DBDE3;
  margin-top: 15px;
}
.meet__flower {
  position: absolute;
  width: 120px;
  bottom: 5%;
}
