/* main */
body {
  font-family: "Cormorant Garamond";
  background-color: #fff4f4;
}
/* containers */
.container-small {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* hero */
.hero {
  color: #8396b4;
  padding-top: 160px;
  padding-bottom: 160px;
}
.hero__date {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 15px;
}
.hero__label {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 18px;
}
.hero__img {
  width: 78%;
  display: block;
  margin: 0 auto;
}
.hero__text {
  text-align: right;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1.7;
  font-family: "Great Vibes";
  margin: 0;
  margin-top: 10px;
  margin-right: 40px;
}
